$navigate-color: #ff0000;
$media-min-width: 1200px;
$html-background-color: #100e17;
$background-color-level-2: #17141d; // 容器的背景颜色
$background-color-level-3: #312d3c;// 可编辑区域的背景色
$html-color: #fff;
$background-color-level-4: #303036;
$background-color-level-5: #666;
$background-color-level-6: #aaa;
$fade-color: #fff;

// banner的渐变色
$banner-color-1: #17141d;
$banner-color-2: #303036;

// 按钮的渐变色组
$btn-color-1: #303036;
$btn-color-2: #666;

// 导航栏高度
$nav-height: 6rem;

$light-font-color: #276ace;

// 选中文本的样式
$selection-color: #ccccff;

