html, body, div, p, table, tr, td, ul, ul li, input, img, h1, h2 ,h3, h4, h5, span, i, article, table, td, tr, select, select option,section, header, textarea, br, hr, dl, dl dd, dl, dt{margin:0; padding: 0}
body{background: #e6ecf0; font-family: "Microsoft YaHei","SimSun",sans-serif}
html, body, img{border: 0}
a, a:hover, a:link, a:visited{
  color: inherit;
  text-decoration: none;
}
textarea{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
.clear{
  &:after{
    content: '';
    clear: both
  }
  &:before{
    content: '';
    clear: both
  }
}
::-webkit-selection{
  background: #99CCFF
}
::-moz-selection{
  background: #99CCFF
}
::-ms-selection{
  background: #99CCFF
}
::selection{
  background: #99CCFF
}
.container{
  max-width: 81.4rem;
  margin: 0 auto;
  padding: 4rem 5rem;
  box-sizing: border-box;
}
